*{
	margin: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}
.grid{
	width: 500px;
	height: 1000px;
	background-image: url("./imgs/boardbg.png"); 
	display: flex;
	flex-wrap: wrap;
	
}

.grid div {
	height: 50px;
	width: 50px;
}

.tetromino {
	background-image: url("./imgs/tetris-bricks.gif");
}